{deps, [
    {lager, "~> 3.9.2"},
    {jsx, "~> 2.11.0"},
    {jsxd, "~> 0.2.4"},
    {cowboy, "~> 2.9.0"},
    {http_signature, "2.0.0"},
    {gun, "~> 2.0"},
    {ra, "~> 2.3.0"},
    {erlydtl, "~> 0.14.0"},
    {prometheus, "~> 4.8.0"},
    {kerlberos, "~> 2.0.0"},
    {rdp_proto, ".*", {git, "https://github.com/eait-itig/rdp_proto", {branch, "master"}}},
    {rdp_lvgl, ".*", {git, "https://github.com/eait-itig/rdp_lvgl", {branch, "main"}}}
]}.
{plugins, [
    {provider_asn1, "~> 0.3"}
]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [rdpproxy]}
]}.
{relx, [
    {release, {rdpproxy, "1.0.0"}, [rdpproxy, runtime_tools]},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [{copy, "scripts/rdpproxy-admin", "bin/"}]}
]}.
{erl_opts, [{parse_transform, lager_transform}, {i, "include/"}]}.
{edoc_opts, [{preprocess, true}]}.
{overrides, [
    {del, http_signature, [{erl_opts, [warnings_as_errors]}]},
    {override, cowboy, [
        %% see https://github.com/erlang/rebar3/issues/2364
        %% and https://github.com/ninenines/cowboy/issues/1670
        {deps, [
            {cowlib, "~> 2.14.0"},
            {ranch, "~> 1.8.1"}
        ]}
    ]},
    {override, gun, [
        %% see https://github.com/erlang/rebar3/issues/2364
        %% and https://github.com/ninenines/cowboy/issues/1670
        {deps, [
            {cowlib, "~> 2.15.0"}
        ]}
    ]}
]}.
{asn1_args, [{encoding, ber}, {compile_opts, [ber, der, undec_rest]}]}.
{provider_hooks, [
    {pre, [
        {compile, {asn, compile}}
    ]},
    {post, [
        {clean, {asn, clean}}
    ]}
]}.
