{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager", {branch, "master"}}},
	{riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", {branch, "master"}}},
	{poolboy, ".*", {git, "https://github.com/devinus/poolboy", {branch, "master"}}},
	{statebox, ".*", {git, "https://github.com/mochi/statebox", {branch, "master"}}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
	{jsxd, ".*", {git, "https://github.com/licenser/jsxd", {tag, "0.1.9"}}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy", {tag, "2.0.0-pre.1"}}},
	{fuse, ".*", {git, "https://github.com/jlouis/fuse", {branch, "master"}}},
    {rdp_proto, ".*", {git, "https://github.com/eait-itig/rdp_proto", {branch, "master"}}},
    {rdp_ui, ".*", {git, "https://github.com/eait-itig/rdp_ui", {branch, "master"}}}
]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, ["apps", "rel"]}.
{edoc_opts, [{preprocess, true}]}.

