{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager", "HEAD"}},
	{cairerl, ".*", {git, "git://github.com/arekinath/cairerl", "master"}},
	{riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}},
	{poolboy, ".*", {git, "git://github.com/devinus/poolboy", {branch, "master"}}},
	{statebox, ".*", {git, "git://github.com/mochi/statebox", "HEAD"}}
]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, ["apps", "rel"]}.
{edoc_opts, [{preprocess, true}]}.

