[
    {rdpproxy, [
        {frontend, [
            %% The hostname that clients will connect to (must
            %% match the certificate under ssl_options)
            {hostname, <<"uqawil16-mbp.eait.uq.edu.au">>},

            %% Domains to use with logins to backend servers
            %% The first item on this list will be the default
            {domains, [<<"KRB5.UQ.EDU.AU">>,<<"LABS">>]},

            {ssl_options, [
                %% Certificate we will use to secure communication with the clients
                {certfile, "etc/cert.pem"},
                {keyfile, "etc/key.pem"}
            ]}
        ]},
        {backend, [
            {ssl_options, [
                %% Don't verify certs on backend servers
                {verify, verify_none}
            ]}
        ]},
        {http_api, [
            %% Port to listen on for HTTP API requests (to report backend machine
            %% status etc)
            {port, 8080}
        ]},
        {riak, [
            %% Connection details (protobufs)
            {host, "localhost"},
            {port, 8087},

            %% Number of riak connections to have open at once
            {connections, 20}
        ]},
        {ldap, [
            % use the _ldap._tcp DNS records for a domain
            {ad_domain, "uq.edu.au"},
            % or, alternatively, specify each AD server one by one:
            %{ldap_hosts, ["dc1.domain.com", "dc2.domain.com"]},

            {ldap_bind, "UQ\\%u"}

            {ldap_options, []},
            {ldap_base, "DC=domain,DC=com"}
        ]}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
        ]},

        {crash_log, "log/crash.log"},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},

        {error_logger_redirect, true}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].

